<!DOCTYPE html>
<html>
  <head>
    <title>Strip</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<script src="https://js.stripe.com/v3/"></script>
	
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
	  
  </head>

  <body>
    <%= yield %>
  </body>
</html>


